<!DOCTYPE html>
<html>
  <head>
    <title>Morgenmad</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Morgenmad</h1>
    <% employees.forEach( function(employee) {%>
    <p>
      <span><a href="mailto:<%= employee.email %>"><%= employee.name %></a></span>
      <span>
        <% if(employee.latestDelivery == null){ %>
        Aldrig
        <%} else {%>
        <%= employee.latestDelivery %>
        <%}%>
      </span>
      <span><a href="/destroy/<%= employee._id %>" title="Delete">X</a></span>
      <span><a href="/markdelivery/<%= employee._id %>" title ="Mark delivery">Marker leverance</a></span>
    </p>
    <% });%>

<p><a href="/sendremindertobringer/">Send huskemail til de(n) der skal have morgenmad med.</a></p>
<p><a href="/sendremindertoemployees/">Send mail til dem der ikke skal have morgenmad med for om de kommer.</a></p>


  </body>
</html>